## 다음과 같은 확장자는 전체 무시
*.h5
*.zip
HC*.*
*.pyc
-checkpoint.py
-checkpoint.yaml
## 폴더 무시
coating_modulus/outputs
coating_modulus/outputs_old
twophase_modulus/outputs
examples-release_22.09
examples
coating_modulus/__pycache__
twophase_modulus/__pycache__/navier_stokes_vof_2d.cpython-38.pyc
coating_modulus/.ipynb_checkpoints
